/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*960.gs texts*/
body{font:16px/1.5 Helvetica,Arial,'Liberation Sans',FreeSans,sans-serif}a:focus{outline:1px dotted invert}hr{border:0 #ccc solid;border-top-width:1px;clear:both;height:0}h1{font-size:25px}h2{font-size:23px}h3{font-size:21px}h4{font-size:19px}h5{font-size:17px}h6{font-size:15px}ol{list-style:decimal}ul{list-style:square}li{margin-left:30px}p,dl,hr,h1,h2,h3,h4,h5,h6,ol,ul,pre,table,address,fieldset{margin-bottom:20px}
/* ------------------------------------------------- */
/* Notices */
/* ------------------------------------------------- */
.success{
	color:#693;
	background:#e9f0e0;
	border:1px solid #d2dfc0;
}
.error{
 	color:#d63939;
	background:#fae6e6;
	border:1px solid #f2c8c8;
}
.warning{
	color:#f35a25;
	background:#faf8e6;
	border:1px solid #f0e4b2;
}
div.success,
div.error,
div.warning{
	padding:10px 0px 5px 45px;
	background-position:15px 11px;
	background-repeat:no-repeat;
	margin-bottom:15px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
}
/*styling*/
body{
    background:#FFFFF7;
    color:#292929;
}
a{
    color:#3d9bbc;
}
header{
    background:#1D1C1A;
    /*background: #7abfd6;
    background: -moz-linear-gradient(#1D1C1A, #32302d);
    background: -webkit-linear-gradient(#1D1C1A, #32302d);
    background: linear-gradient (#7abfd6, #33a2bc);*/
    color:#fff;
    height:70px;
}
header h1{
    padding-top:5px;
    background:url(/images/gbg.png) no-repeat 10px 10px;
    padding-left:86px;
}
header h1 span{
    display:block;
    font-style:italic;
    font-size:12px;
}
article{
    background:url(/images/bg-conversation.png) no-repeat 0 0;
    padding:5% 0;
    margin:0 auto;
}
article h1{
    font-style:italic;
    font-weight:bold;
    text-shadow:#f5f5ed 5px 5px 0;
    margin-bottom: 30px;
    padding:0 1em;
}
article h1.jokes{
    font-size:20px;
}
article h1.jokes-short{
    font-size:50px;
}
article p{
    font-size:22px;
    text-align:right;
}
div.actions{
    text-align:right;
}
input[type="text"]{
    font-size:24px;
    line-height:1.5em;
    border:solid 1px #bcbbbb;
    padding:10px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
    background:#fff;
    width:70%;
    margin-right:1%;
}
input[type="text"]:focus{
    border:solid 1px #39B2E5;
    -moz-box-shadow: inset 0 1px 2px rgba(70,110,187,.2);
    -webkit-box-shadow: inset 0 1px 2px rgba(70,110,187,.2);
    box-shadow: inset 0 1px 2px rgba(70,110,187,.2);
}
a.button,a.primary{
    white-space:nowrap;
}
a.button,
input[type="button"],
input[type="submit"],
a.primary,
input[type="button"].primary,
input[type="submit"].primary{
    text-decoration:none;
    margin: 0 6px 15px 0;
    padding: 6px 10px;
    color: #fff;
    background: #7abfd6;
    background: -moz-linear-gradient(#7abfd6, #33a2bc);
    background: -webkit-linear-gradient(#7abfd6, #33a2bc);
    background: linear-gradient (#7abfd6, #33a2bc);
    border: 1px solid #367ca9;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(250, 250, 250, 0.4);
    -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(250, 250, 250, 0.4);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(250, 250, 250, 0.4);
    text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.4);
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 30px;
    line-height: 100%;
}
a.button:hover,
input[type="button"]:hover, input[type="submit"]:hover{
    cursor: pointer;
    background: #33a2bc;
    text-decoration: none;
}
a.primary,
input[type="button"].primary,
input[type="submit"].primary{
    color: #fff;
    font-weight: bold;
    text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.4);
    background: #6aa417;
    background: -moz-linear-gradient(#99bd42, #6aa417);
    background: -webkit-linear-gradient(#99bd42, #6aa417);
    background: linear-gradient (#99bd42, #6aa417);
    border: 1px solid #467700;
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(250, 250, 250, 0.4);
    -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(250, 250, 250, 0.4);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(250, 250, 250, 0.4);
}
a.primary:hover,
input[type="button"].primary:hover,
input[type="submit"].primary:hover;{
    cursor: pointer;
    background: #6aa417;    
}

.facebook_like{
    text-align: right;
    margin-top: 20px;
}

.notice{
    padding: 10px;
    margin-bottom: 10px;
}
.message{
	background-color:#693;
}
.warning{
	background-color:#d63939;
}
