
<h1>Det var en björn och en kanin som satt och klämde i skogen och björnen frågade kaninen</h1>
<p>
- Hörru, tycker inte du att det är jobbigt när skiten fastnar i pälsen?
-Nä det är väl ingen fara, svarade kaninen.
-Va bra, sa björnen och torkade sig med kaninen
</p>