<h1 id="fittext"><%= @joke.joke %></h1>
<div class="actions">
    <a href="/" class="primary">Ladda in en ny!</a>
    <input type="button" value="Twittra din kompis!">
</div>
<div class="actions">
    <input type="text" placeholder="Skriv in twitternamet på din kompis">
    <input type="submit" value="Tweet it!">
    <%= link_to("Tråka ut din vän via Twitter", "/auth/twitter", :class => "button") %>
</div>