<h1 id="fittext">Det var en björn och en kanin som satt och klämde i skogen och björnen frågade kaninen</h1>
<p>
    <%= @joke.joke %>
</p>
<div class="actions">
    <input type="button" value="Twittra din kompis!">
</div>
<div class="actions">
    <input type="text" placeholder="Skriv in twitternamet på din kompis">
    <input type="submit" value="Tweet it!">
    <%= link_to("Tråka ut din vän via Twitter", "/auth/twitter", :class => "button") %>
</div>