<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Tc1</title>
    <link rel="stylesheet" href="tc1.css" type="text/css" media="all">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
</head>
<body>
    <article>
        <h1><pre><%= @joke.joke %></pre></h1>
        <p>
            
        </p>
		<p>
		    <%= link_to("Tråka ut din vän via Twitter", "/auth/twitter") %>
		</p>
    </article>
</body>
</html>