<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Tc1</title>
    <%= stylesheet_link_tag :all %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
    <%= csrf_meta_tag %>
</head>
<body>
</head>
<article>
<%= yield %>
</article>

</body>
</html>
